Repository vivacitylabs/grafana, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/docs-squad, @pkolyvas, @marcusolsson, @grafana/plugins-platform-frontend, @grafana/plugins-platform-backend, @osg-grafana, @grafana/backend-platform, @grafana/grafana-release-eng, @grafana/cloud-datasources, @grafana/observability-squad, @grafana/hosted-grafana-team, @grafana/grafana-edge-squad, @grafana/alerting-squad, @grafana/user-essentials, @grafana/grafana-bi-squad, @grafana/frontend-ops, @jessover9000

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# Documentation owner: Jita Chatterjee
/docs/ @grafana/docs-squad @pkolyvas
/contribute/ @marcusolsson @grafana/docs-squad @pkolyvas
/docs/sources/developers/plugins/ @marcusolsson @grafana/docs-squad @grafana/plugins-platform-frontend @grafana/plugins-platform-backend
/docs/sources/developers/plugins/backend @marcusolsson @grafana/docs-squad @grafana/plugins-platform-backend
/docs/sources/enterprise/ @osg-grafana @grafana/docs-squad

# Backend code
*.go @grafana/backend-platform
go.mod @grafana/backend-platform
go.sum @grafana/backend-platform
/.bingo @grafana/backend-platform

# Continuous Integration
.drone.yml @grafana/grafana-release-eng
.drone.star @grafana/grafana-release-eng
/scripts/drone/ @grafana/grafana-release-eng

# Cloud Datasources backend code
/pkg/tsdb/cloudwatch @grafana/cloud-datasources @grafana/observability-squad
/pkg/tsdb/azuremonitor @grafana/cloud-datasources
/pkg/tsdb/cloudmonitoring @grafana/cloud-datasources

# Observability backend code
/pkg/tsdb/influxdb @grafana/observability-squad
/pkg/tsdb/elasticsearch @grafana/observability-squad
/pkg/tsdb/graphite @grafana/observability-squad
/pkg/tsdb/jaeger @grafana/observability-squad
/pkg/tsdb/loki @grafana/observability-squad
/pkg/tsdb/zipkin @grafana/observability-squad
/pkg/tsdb/tempo @grafana/observability-squad

# Database migrations
/pkg/services/sqlstore/migrations @grafana/backend-platform @grafana/hosted-grafana-team
*_mig.go @grafana/backend-platform @grafana/hosted-grafana-team

# Grafana live
/pkg/services/live/ @grafana/grafana-edge-squad

# Unified Alerting
/pkg/services/ngalert @grafana/alerting-squad
/pkg/services/sqlstore/migrations/ualert @grafana/alerting-squad

# Library Services
/pkg/services/libraryelements @grafana/user-essentials
/pkg/services/librarypanels @grafana/user-essentials

# Plugins
/pkg/api/pluginproxy @grafana/plugins-platform-backend
/pkg/plugins @grafana/plugins-platform-backend
/pkg/services/datasourceproxy @grafana/plugins-platform-backend
/pkg/services/datasources @grafana/plugins-platform-backend

# Backend code docs
/contribute/style-guides/backend.md @grafana/backend-platform
/contribute/architecture/backend @grafana/backend-platform
/contribute/engineering/backend @grafana/backend-platform

/e2e @grafana/user-essentials
/packages @grafana/user-essentials @grafana/plugins-platform-frontend @grafana/grafana-bi-squad
/packages/grafana-e2e-selectors @grafana/user-essentials
/packages/grafana-e2e @grafana/user-essentials
/packages/grafana-toolkit @grafana/plugins-platform-frontend
/packages/grafana-ui/.storybook @grafana/plugins-platform-frontend
/packages/grafana-ui/src/components/DateTimePickers @grafana/grafana-bi-squad
/packages/grafana-ui/src/components/GraphNG @grafana/grafana-bi-squad
/packages/grafana-ui/src/components/Table @grafana/grafana-bi-squad
/packages/grafana-ui/src/components/TimeSeries @grafana/grafana-bi-squad
/packages/grafana-ui/src/components/uPlot @grafana/grafana-bi-squad
/packages/grafana-ui/src/utils/storybook @grafana/plugins-platform-frontend
/packages/jaeger-ui-components/ @grafana/observability-squad
/plugins-bundled @grafana/plugins-platform-frontend
/public @grafana/user-essentials
/public/app/core/components/TimePicker @grafana/grafana-bi-squad
/public/app/features/canvas/ @grafana/grafana-edge-squad
/public/app/features/dimensions/ @grafana/grafana-edge-squad
/public/app/features/live/ @grafana/grafana-edge-squad
/public/app/features/explore/ @grafana/observability-squad
/public/app/features/plugins @grafana/plugins-platform-frontend
/public/app/plugins/panel/alertlist @grafana/alerting-squad
/public/app/plugins/panel/barchart @grafana/grafana-bi-squad
/public/app/plugins/panel/heatmap @grafana/grafana-bi-squad
/public/app/plugins/panel/histogram @grafana/grafana-bi-squad
/public/app/plugins/panel/nodeGraph @grafana/observability-squad
/public/app/plugins/panel/piechart @grafana/grafana-bi-squad
/public/app/plugins/panel/state-timeline @grafana/grafana-bi-squad
/public/app/plugins/panel/status-history @grafana/grafana-bi-squad
/public/app/plugins/panel/table @grafana/grafana-bi-squad
/public/app/plugins/panel/timeseries @grafana/grafana-bi-squad
/public/app/plugins/panel/geomap @grafana/grafana-edge-squad
/public/app/plugins/panel/canvas @grafana/grafana-edge-squad
/public/app/plugins/panel/candlestick @grafana/grafana-edge-squad
/public/app/plugins/panel/icon @grafana/grafana-edge-squad
/scripts/build/release-packages.sh @grafana/plugins-platform-frontend
/scripts/circle-release-next-packages.sh @grafana/plugins-platform-frontend
/scripts/ci-frontend-metrics.sh @grafana/user-essentials @grafana/plugins-platform-frontend @grafana/grafana-bi-squad
/scripts/ci-reference-docs-build.sh @grafana/plugins-platform-frontend
/scripts/ci-reference-docs-lint.sh @grafana/plugins-platform-frontend
/scripts/grunt @grafana/frontend-ops
/scripts/webpack @grafana/frontend-ops
/scripts/generate-a11y-report.sh @grafana/user-essentials
package.json @grafana/frontend-ops
tsconfig.json @grafana/frontend-ops
lerna.json @grafana/frontend-ops
.babelrc @grafana/frontend-ops
.prettierrc.js @grafana/frontend-ops
.eslintrc @grafana/frontend-ops
.pa11yci.conf.js @grafana/user-essentials
.pa11yci-pr.conf.js @grafana/user-essentials

# @grafana/ui component documentation
*.mdx @marcusolsson @jessover9000 @grafana/plugins-platform-frontend

# Core datasources
/public/app/plugins/datasource/cloudwatch @grafana/cloud-datasources @grafana/observability-squad
/public/app/plugins/datasource/elasticsearch @grafana/observability-squad
/public/app/plugins/datasource/grafana-azure-monitor-datasource @grafana/cloud-datasources
/public/app/plugins/datasource/graphite @grafana/observability-squad
/public/app/plugins/datasource/influxdb @grafana/observability-squad
/public/app/plugins/datasource/jaeger @grafana/observability-squad
/public/app/plugins/datasource/loki @grafana/observability-squad
/public/app/plugins/datasource/mssql @grafana/backend-platform
/public/app/plugins/datasource/mysql @grafana/backend-platform
/public/app/plugins/datasource/opentsdb @grafana/backend-platform
/public/app/plugins/datasource/postgres @grafana/backend-platform
/public/app/plugins/datasource/prometheus @grafana/observability-squad
/public/app/plugins/datasource/cloud-monitoring @grafana/cloud-datasources
/public/app/plugins/datasource/zipkin @grafana/observability-squad
/public/app/plugins/datasource/tempo @grafana/observability-squad
/public/app/plugins/datasource/alertmanager @grafana/alerting-squad

# Cloud middleware
/grafana-mixin/ @grafana/hosted-grafana-team

remove frontend-metrics request
  public/app/core/services/echo/backends/PerformanceBackend.ts
  public/img/test.html
Owners: @grafana/user-essentials

post message system working to update variables and time
  public/app/features/dashboard/dashgrid/PanelChrome.tsx
  public/app/features/dashboard/services/DashboardSrv.ts
  public/app/features/dashboard/services/TimeSrv.ts
  public/app/features/dashboard/state/DashboardModel.ts
  public/app/features/variables/state/actions.ts
  public/img/test.html
Owners: @grafana/user-essentials

update variables to be in a map
  public/app/features/dashboard/dashgrid/PanelChrome.tsx
  public/app/features/dashboard/services/TimeSrv.ts
  public/app/features/dashboard/state/DashboardModel.ts
Owners: @grafana/user-essentials

cleaning
  public/app/features/dashboard/dashgrid/PanelChrome.tsx
  public/app/features/dashboard/services/TimeSrv.ts
  public/app/features/dashboard/state/DashboardModel.ts
  public/app/features/variables/getAllVariableValuesForUrl.ts
  public/app/features/variables/state/actions.ts
  public/img/test.html
Owners: @grafana/user-essentials

update date format to DD/MM instead of MM/DD
  conf/defaults.ini
Owners: none

datasource for local env
  devenv/datasources.yaml
  devenv/datasources_docker.yaml
Owners: none

add dashboard panels so they're there for setups
  devenv/dev-dashboards/panel-bucket_comparisons_v4/bucket_comparisons_v4.json
  devenv/dev-dashboards/panel-extended_classified_counts_graphs_v2/extended_classified_counts_graphs_v2.json
  devenv/dev-dashboards/panel-further_timescale_experiments/further_timescale_experiments.json
Owners: none

remove unneeded import
  public/app/core/services/echo/backends/PerformanceBackend.ts
Owners: @grafana/user-essentials

possible docker file fix
  Dockerfile
Owners: none

add countline speeds dashboard to dev env
  devenv/dev-dashboards/panel-countline-speeds/countline_speeds.json
Owners: none

Set hoverProximityPx to 0
  packages/grafana-ui/src/components/TimeSeries/utils.ts
Owners: @grafana/grafana-bi-squad

Update node label in Jenkinsfile
  Jenkinsfile
Owners: none

Update node label in Jenkinsfile
  Jenkinsfile
Owners: none

Updates to CI for new jenkins
  Dockerfile
  Jenkinsfile
Owners: none

sub-second precision for prometheus time series
  pkg/tsdb/prometheus/time_series_query.go
Owners: @grafana/backend-platform

oops!
  pkg/tsdb/prometheus/time_series_query.go
Owners: @grafana/backend-platform

oops again!
  pkg/tsdb/prometheus/time_series_query.go
Owners: @grafana/backend-platform

Panels always send data if they are an iframe
  conf/defaults.ini
  public/app/features/dashboard/dashgrid/PanelChrome.tsx
  public/app/features/dashboard/utils/postDataFramesAsMessage.ts
  public/img/test.html
Owners: @grafana/user-essentials

Adding jenkins file
  Jenkinsfile
  public/app/features/dashboard/utils/postDataFramesAsMessage.ts
Owners: @grafana/user-essentials

Put variables values in arrays to facilitate multi select vars
  public/app/features/dashboard/utils/postDataFramesAsMessage.ts
  public/img/test.html
Owners: @grafana/user-essentials

Fix type error
  public/app/features/dashboard/utils/postDataFramesAsMessage.ts
Owners: @grafana/user-essentials

Add jenkins throw error
  Jenkinsfile
Owners: none

Simpler node assignment
  Jenkinsfile
Owners: none

remove unused functions
  Jenkinsfile
Owners: none

---
  Jenkinsfile
Owners: none

----
  Jenkinsfile
Owners: none

--
  Jenkinsfile
Owners: none

-----
  Jenkinsfile
Owners: none

------
  Jenkinsfile
Owners: none

Change the alpine bass image
  Dockerfile
Owners: none

try update dockerfile
  Dockerfile
Owners: none

key messages buy downloadId rather than panel
  public/app/features/dashboard/dashgrid/PanelChrome.tsx
  public/app/features/dashboard/utils/postDataFramesAsMessage.ts
Owners: @grafana/user-essentials

clean docker file
  Dockerfile
Owners: none

Use locationService to get variables
  public/app/features/dashboard/dashgrid/PanelChrome.tsx
  public/app/features/dashboard/utils/postDataFramesAsMessage.ts
  public/img/test.html
Owners: @grafana/user-essentials

Apline version to 3.13
  Dockerfile
Owners: none

Add targetDomain var
  public/app/features/dashboard/utils/postDataFramesAsMessage.ts
Owners: @grafana/user-essentials

more secure
  public/app/features/dashboard/utils/postDataFramesAsMessage.ts
  public/img/test.html
Owners: @grafana/user-essentials

Fix GCR image name
  Jenkinsfile
Owners: none

Revert some docker image versions changes
  Dockerfile
Owners: none

Update jenkinsfile push step
  Jenkinsfile
Owners: none
